<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>一元抢票</title>

    <!-- 图标 -->
    <link rel="shortcut icon" href="/images/yiyuanqiangpiao.ico" type="images/x-icon">

    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/addBrushTicketTask.css">

    <!-- 脚本 -->
    <script src="/javascripts/Common.js"></script>
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/startDate.js"></script>
    <script src="/javascripts/ticketSearch.js"></script>
    <script src="/javascripts/passengers.js"></script>
</head>

<body>
    <div id="baseBody"></div>
    <script>
        $("#baseBody").load("/html/base.htm");
    </script>
    <div class="contentBody">
        <div id="startPlace" class="searchConditon">出发地<input id="startPlaceInput" class="searchConditonClass" type="text"></div>
        <div id="endPlace" class="searchConditon">目的地<input id="endPlaceInput" class="searchConditonClass" type="text"></div>
        <div id="startDate" class="searchConditon">出发日期<input id="startDateInput" class="searchConditonClass startDateInputClass"
                type="text"></div>
        <div id="trains" class="searchConditon">车次(可多选)<input id="trainsInput" class="searchConditonClass" type="text"></div>
        <div id="seats" class="searchConditon">坐席(单选)<input id="seatsInput" class="searchConditonClass" type="text"></div>
        <div id="passengers" class="searchConditon">乘车人(可多选)<input id="passengersInput" class="searchConditonClass"
                type="text"></div>
        <div id="phone" class="searchConditon">联系手机<input id="phoneInput" class="searchConditonClass" type="text"></div>
        <div id="submitBrushTicketTask"><input id="submitBrushTicketTaskButton" type="button" value="提交" onclick="submit()"></div>
        <div id="brushTicketAgreement">点提交表示同意<a id="brushTicketAgreementLink" href="javascript: void(0);">用户协议</a></div>
        <script>
            function submit() {
                var startPlace = document.getElementById("startPlaceInput");
                var endPlace = document.getElementById("endPlaceInput");
                var startDate = document.getElementById("startDateInput");
                var tains = document.getElementById("trainsInput");
                var seats = document.getElementById("seatsInput");
                var passengers = document.getElementById("passengersInput");
                var phone = document.getElementById("phoneInput");
                var isValidateSuccess = CommonUtils.validateAndPrompt([startPlace, endPlace, startDate, tains, seats, passengers, phone]);
                if (!isValidateSuccess) {
                    return;
                }

                location.href = "http://localhost:3000/brushTicketTaskList";
            }
        </script>
    </div>
    <div id="mainContentArea">
        <script>
            $("#startPlaceInput").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
                $("#mainContentArea").load("/html/startPlace.htm");
            });
            $("#endPlaceInput").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
                $("#mainContentArea").load("/html/endPlace.htm");
            });
            Calendar.create({
                classN: 'startDateInputClass',
                callBack: function (bindElem, dateObj) {
                    $("#startDateInput").val(dateObj.year + '-' + dateObj.month + '-' + dateObj.date);
                }
            });
            $("#trainsInput").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
                var startPlaceVal = document.getElementById("startPlaceInput").value;
                var endPlaceVal = document.getElementById("endPlaceInput").value;
                var startDateVal = document.getElementById("startDateInput").value;
                TicketSearch.searchAndCheck(startPlaceVal, endPlaceVal, startDateVal, "trainsInput", "mainContentArea");
            });
            $("#seatsInput").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
                $("#mainContentArea").load("/html/seatsSelect.htm");
            });
            $("#passengersInput").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
                Passengers.searchAndCheck("passengersInput", "mainContentArea");
            });
            $("#brushTicketAgreementLink").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
                $("#mainContentArea").load("/html/brushTicketAgreement.htm");
            });
            $("#phoneInput").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
            });
        </script>
    </div>
</body>