<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>一元抢票</title>

    <!-- 图标 -->
    <link rel="shortcut icon" href="/images/yiyuanqiangpiao.ico" type="images/x-icon">

    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/gotTicketList.css">

    <!-- 脚本 -->
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/gotTicketList.js"></script>
</head>

<body>
    <div id="baseBody"></div>
    <script>
        $("#baseBody").load("/html/base.htm");
    </script>
    <div class="mainContentArea">
        <div id="ticketListId" class="ticketList">
            <script>
                GotTicketList.search("ticketListId", 0);
            </script>
        </div>
        <div class="turnPage">
            <input class="turnLeftPage" type="button" value="上一页" onclick="GotTicketList.search('ticketListId',-1)">
            <input class="turnRightPage" type="button" value="下一页" onclick="GotTicketList.search('ticketListId',1)">
        </div>
    </div>
</body>