<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>一元抢票</title>

    <!-- 图标 -->
    <link rel="shortcut icon" href="/images/yiyuanqiangpiao.ico" type="images/x-icon">

    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ticketSearch.css">

    <!-- 脚本 -->
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/startDate.js"></script>
    <script src="/javascripts/common.js"></script>
</head>

<body>
    <div id="baseBody"></div>
    <script>
        $("#baseBody").load("/html/base.htm");
    </script>
    <div class="contentBody">
        <div id="startPlace" class="searchConditon">出发地<input id="startPlaceInput" class="searchConditonClass" type="text"></div>
        <div id="endPlace" class="searchConditon">目的地<input id="endPlaceInput" class="searchConditonClass" type="text"></div>
        <div id="startDate" class="searchConditon">出发日期<input id="startDateInput" class="searchConditonClass startDateInputClass"
                type="text"></div>
        <div id="studentSelect">学生<input id="studentSelectInput" type="checkbox"></div>
        <div id="highSpeedTrainSelect">高铁/动车<input id="highSpeedTrainSelectInput" type="checkbox"></div>
        <div id="ticketSearchClick"><input id="ticketSearchButton" type="button" value="查询"></div>
        <script>
            $("#ticketSearchButton").click(function () {
                var startPlace = document.getElementById("startPlaceInput");
                var endPlace = document.getElementById("endPlaceInput");
                var startDate = document.getElementById("startDateInput");
                var isStudent = document.getElementById("studentSelectInput");
                var isHighSpeed = document.getElementById("highSpeedTrainSelectInput");
                var isValidateSuccess = CommonUtils.validateAndPrompt([startPlace, endPlace, startDate]);
                if (!isValidateSuccess) {
                    return;
                }

                var startPlaceVal = startPlace.value;
                var endPlaceVal = endPlace.value;
                var startDateVal = startDate.value;
                var isStudentVal = isStudent.checked;
                var isHighSpeedVal = isHighSpeed.checked;
                location.href = "http://localhost:3000/ticketSearchResult?startPlace=" + startPlaceVal + "&endPlace=" + endPlaceVal + "&startDate=" + startDateVal + "&isStudent=" + isStudentVal + "&isHighSpeed=" + isHighSpeedVal;
            });


        </script>
    </div>
    <div id="mainContentArea">
        <script>
            $("#startPlace .searchConditonClass").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
                $("#mainContentArea").load("/html/startPlace.htm");
            });
            $("#endPlace .searchConditonClass").click(function () {
                $(this).css("border-color", CommonUtils.getDefaultGrayColor());
                $("#mainContentArea").load("/html/endPlace.htm");
            });
            Calendar.create({
                classN: 'startDateInputClass',
                callBack: function (bindElem, dateObj) {
                    document.getElementById("startDateInput").value = dateObj.year + '-' + dateObj.month + '-' + dateObj.date;
                }
            });
        </script>
    </div>
</body>