.contentBody {
    float: left;
    height: 500px;
    width: 500px;
    margin-left: 60px;
    margin-top: 0px;
}

.contentBody .searchConditon {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 50px;
}

.contentBody .searchConditonClass {
    height: 20px;
    width: 300px;
    margin-left: 15px;
    font-size: 15px;
    text-align: center;
    outline: none;
    border: solid 1.4px;
    border-color: rgb(170, 164, 164);
}

#startPlace {
    margin-left: 66px;
    width: 400px;
}

#endPlace {
    margin-left: 66px;
    width: 400px;
}

#startDate {
    margin-left: 51px;
    width: 420px;
}

#trains {
    margin-left: 27px;
    width: 420px;
}

#seats {
    margin-left: 43px;
    width: 420px;
}

#passengers {
    margin-left: 14px;
    width: 420px;
}

#phone {
    margin-left: 55px;
    width: 420px;
}

#startBrushTicketTask {
    width: 300px;
    height: 35px;
    margin-top: 43px;
    margin-left: 130px;
}

#startBrushTicketTaskButton {
    -webkit-appearance: none;
    height: 30px;
    width: 305px;
    color: black;
    background-color: #ff7300;
    font-size: 15px;
    outline: none;
}

#mainContentArea {
    position: absolute;
    height: 440px;
    width: 670px;
    top: 178px;
    left: 568px;
    background-color: white;
    overflow-y: auto;
}

#mainContentArea ul {
    padding: 0;
    margin: 0;
    list-style-position: outside;
    list-style: none;
    z-index: 100;
}

#mainContentArea li {
    padding: 2px 0 0 0;
    margin: 0;
    height: 25px;
    line-height: 25px;
    float: left;
    cursor: pointer;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
}

.azTitleClass {
    height: 28px;
    background-color: #297ebb;
}

.azTitleClass li {
    width: 111.6px;
    color: white;
}

.azContentClass {
    height: 413px;
    display: none;
    overflow: scroll;
}

.azContentClass li {
    width: 50px;
}

#azContent1 {
    display: block;
}

.azliClass {
    background-color: #684462;
}

.atie-calendar, .atie-calendar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendar-wrap {
    position: absolute;
    left: 0;
    top: 0;
}

.atie-calendar-mask {
    position: fixed;
    height: 100px;
    width: 100px;
}

.atie-calendar {
    outline: none;
    width: 670px;
    height: 440px;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border-radius: 4px;
    background-clip: padding-box;
    line-height: 1.5;
}

.atie-calendar-date-panel {
    width: 280px;
}

.atie-calendar-header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 670px;
    background-color: #297ebb;
}

.atie-calendar-header>div>a {
    position: absolute;
    top: 0;
    font-size: 20px;
    cursor: pointer;
}

.atie-calendar-prev-year-btn {
    left: 185px;
}

.atie-calendar-prev-month-btn {
    left: 230px;
}

.atie-calendar-next-month-btn {
    left: 380px;
}

.atie-calendar-next-year-btn {
    left: 410px;
}

.atie-calendar-ym-select {
    position: absolute;
    font-weight: 500;
    width: 100px;
    left: 260px;
}

.atie-calendar-body {
    margin-top: 20px;
}

.atie-calendar table, .atie-calendar td, .atie-calendar th {
    border: 0;
    text-align: center;
    font-size: 15px;
}

.atie-calendar table {
    border-collapse: collapse;
    max-width: 100%;
    background-color: white;
    width: 670px;
}

.atie-calendar thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.atie-calendar tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.atie-calendar tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.atie-calendar-column-header .atie-calendar-column-header-inner {
    display: block;
    font-weight: 400;
}

.atie-calendar-cell {
    padding: 0px 0;
    height: 55px;
    cursor: pointer;
}

.atie-calendar-selected-day .atie-calendar-date {
    background: #d1e9ff;
}

.atie-calendar-last-month-cell .atie-calendar-date, .atie-calendar-next-month-btn-day .atie-calendar-date {
    color: rgba(0, 0, 0, .25);
}

.atie-calendar-today .atie-calendar-date {
    font-weight: 700;
    color: red;
}

.atie-calendar-selected-date .atie-calendar-date, .atie-calendar-selected-start-date .atie-calendar-date, .atie-calendar-selected-end-date .atie-calendar-date {
    background: #1890ff;
    color: #fff;
}

.atie-calendar-date {
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0, .65);
    border-radius: 2px;
    width: 25px;
    height: 25px;
    line-height: 22px;
    padding: 0;
    background: white;
}

.atie-calendar-footer {
    line-height: 38px;
    padding: 0 12px;
    background-color: #a4a59e;
    width: 670px;
    margin-top: -10px;
}

.atie-calendar-footer-btn {
    display: block;
}

.atie-calendar .atie-calendar-today-btn {
    display: inline-block;
    color: black;
    cursor: pointer;
    margin-left: 22px;
}

.ticketResultAreaClass {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}

.ticketResultAreaTable {
    border-collapse: collapse;
}

.ticketResultTh {
    text-align: center;
    background-color: #297ebb;
}

.ticketResultTd {
    text-align: center;
    border-bottom: 1px solid rgb(224, 194, 199);
    width: 100px;
}

.ticketResultSelect {
    height: 18px;
    width: 18px;
}

.ticketResultReminder {
    color: red;
}

.seatsSelectClass input {
    display: none;
    opacity: 0;
}

.seatsSelectClass label {
    line-height: 1;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 30px;
    width: 100px;
}

.seatsSelectClass label:before {
    line-height: 20px;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    content: '';
    color: #fff;
    border: 1px solid #dce4e6;
    background-color: #f3f6f8;
    border-radius: 3px;
}

.seatsSelectClass input:checked+label:before {
    content: '\2713';
    color: #fff;
    background-color: #297ebb;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    border-color: #297ebb;
}

.passengersAreaTable {
    border-collapse: collapse;
}

.passengersTh {
    width: 200px;
    text-align: center;
    background-color: #297ebb;
}

.passengersTd {
    width: 200px;
    text-align: center;
    border-bottom: 1px solid rgb(224, 194, 199);
}

.passengersSelect {
    height: 18px;
    width: 18px;
}