.contentBody {
    float: left;
    height: 500px;
    width: 1200px;
    margin-left: 60px;
    margin-top: 0px;
}

.contentBody .searchConditon {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 50px;
}

.contentBody .searchConditonClass {
    height: 20px;
    width: 300px;
    margin-left: 15px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(170, 164, 164);
}

#startPlace {
    margin-left: 366px;
    width: 400px;
}

#endPlace {
    margin-left: 366px;
    width: 400px;
}

#startDate {
    margin-left: 351px;
    width: 420px;
}

#trains {
    margin-left: 327px;
    width: 420px;
}

#seats {
    margin-left: 343px;
    width: 420px;
}

#passengers {
    margin-left: 314px;
    width: 440px;
}

#phone {
    margin-left: 355px;
    width: 420px;
}