.ticketDetail {
    float: left;
    width: 1200px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.passengers {
    float: left;
    width: 1200px;
    margin-left: 30px;
    margin-top: 30px;
}

.haspay {
    background-color: rgb(83, 187, 83);
}

.hascancel {
    background-color: rgb(175, 173, 168);
}

.passengers table {
    border-collapse: collapse;
    border: 1px solid black;
}

.passengers th, td {
    height: 40px;
    width: 400px;
    text-align: center;
    border-bottom: 1px solid black;
}

.payDetail {
    float: left;
    width: 1200px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: red;
}