.mainContentArea {
    float: left;
    width: 1200px;
    margin-left: 60px;
    margin-top: 30px;
}

.ticketList {
    float: left;
    width: 800px;
    margin-left: 200px;
}

.ticketList table {
    border-collapse: collapse;
    border: 1px solid black;
}

.ticketList td {
    height: 55px;
    width: 400px;
    text-align: center;
    border-bottom: 1px solid black;
}

.ticketList a {
    color: black;
    text-decoration: none;
}

.turnPage {
    position: absolute;
    left: 500px;
    top: 500px;
    width: 300px;
}

.turnPage input {
    -webkit-appearance: none;
    height: 25px;
    width: 50px;
    color: black;
    font-size: 15px;
    background-color: rgb(180, 211, 241);
    border-color: rgb(180, 211, 241);
}

.turnPage .turnRightPage{
    margin-left: 130px;
}