#mainLoginArea {
    float: left;
    width: 1200px;
    margin-top: 30px;
    font-size: 20px;
}

#mainLoginArea .instruction {
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(30, 146, 255);
}

#mainLoginArea .account {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#mainLoginArea .account input {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: #9b9692;
}

#mainLoginArea .loginOut {
    width: 500px;
    margin: auto;
    margin-top: 180px;
    text-align: center;
}

#mainLoginArea .loginOut input {
    font-size: 20px;
    background-color: #ff7300;
}