#mainLoginArea {
    float: left;
    width: 1200px;
    margin-top: 30px;
    font-size: 20px;
}

#mainLoginArea .instruction {
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(30, 146, 255);
}

#mainLoginArea .accountAndPassword {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#mainLoginArea .accountAndPassword input {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

#mainLoginArea .protocal {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#mainLoginArea .protocal input {
    zoom: 220%;
    vertical-align: middle;
}

#mainLoginArea .protocal a {
    color: red;
    text-decoration: none;
}

#mainLoginArea .login {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#mainLoginArea .login input {
    font-size: 20px;
    background-color: #ff7300;
}

.protocalContent {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 840px;
    top: 190px;
    overflow-y: auto;
    display: none;
}