#mainLoginArea {
    float: left;
    width: 1200px;
    margin-top: 30px;
    font-size: 20px;
}

#mainLoginArea .status {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#mainLoginArea .status input {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(170, 164, 164);
}

#mainLoginArea .account {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#mainLoginArea .account input {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(170, 164, 164);
}

#mainLoginArea .period {
    width: 500px;
    margin-top: 30px;
    text-align: center;
    margin-left: 330px;
}

#mainLoginArea .period input {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(170, 164, 164);
}