.contentBody {
    float: left;
    height: 500px;
    width: 500px;
    margin-left: 60px;
    margin-top: 30px;
}

.contentBody .searchConditon {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.contentBody .searchConditonClass {
    height: 30px;
    width: 300px;
    margin-left: 15px;
}

#startPlace {
    margin-left: 68px;
    width: 400px;
}

#endPlace {
    margin-left: 68px;
    width: 400px;
}

#startDate{
    width: 420px;
}

#studentSelect {
    float: left;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 160px;
    width: 100px;
}

#studentSelectInput {
    zoom: 220%;
    margin-left: 5px;
}

#highSpeedTrainSelect {
    float: left;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
    width: 150px;
}

#highSpeedTrainSelectInput {
    zoom: 220%;
    margin-left: 5px;
}

#ticketSearchClick{
    width: 300px;
    height: 50px;
    margin-top: 150px;
    margin-left: 160px;
}

#ticketSearchButton {
    -webkit-appearance:none;
    height: 50px;
    width: 300px;
    color: black;
    background-color: #ff7300;
    font-size: 22px;
}

#mainContentArea {
    float: left;
    height: 500px;
    width: 670px;
    margin-top:30px;
    background-color: red;
}