<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diaosichengxuyuan.one.yuan.brush.ticket.dao.task.TaskMapper">
  <resultMap id="BaseResultMap" type="com.diaosichengxuyuan.one.yuan.brush.ticket.dao.task.entity.TaskDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="start_place" jdbcType="VARCHAR" property="startPlace" />
    <result column="end_place" jdbcType="VARCHAR" property="endPlace" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="seat" jdbcType="VARCHAR" property="seat" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="task_train_id" jdbcType="BIGINT" property="taskTrainId" />
  </resultMap>
</mapper>